.section4 {
  @include center;
  flex-direction: column;
  margin: 0 auto 80px;

  h2 {
    @include goldtitle;
    font-size: 2.1rem;
    margin-bottom: -10px;
  }

  .ourevent {
    @include boldtitle;
    color: $white1;
    font-size: 1.8rem;
    letter-spacing: 1px;
  }

  .plate {
    margin: 30px 0;
  }

  .event-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "i1 i3"
      "i2 i3";
    gap: 15px;
    width: 85%;
    max-width: 900px;

    @media screen and (max-width: 1150px) {
      width: 95%;
      max-width: unset;
    }

    @media screen and (max-width: 860px) {
      grid-template-columns: 100%;
      grid-template-areas:
        "i1"
        "i2"
        "i3";
    }
  }

  #event-1 {
    grid-area: i1;

    .img-part {
      background: url(../../../assets/img/event-01.jpg) center/cover;
    }
  }

  #event-2 {
    grid-area: i2;

    .img-part {
      background: url(../../../assets/img/event-02.jpg) center/cover;
    }
  }

  .event {
    display: grid;
    grid-template-columns: 40% 60%;
    background: $white1;

    @media screen and (max-width: 510px) {
      grid-template-columns: 1fr;

      .img-part {
        padding: 30px 0;
      }
    }


    .img-part {
      @include center;

      div {
        @include center;
        flex-direction: column;
        color: $white1;
        background: $black2;
        height: 70px;
        width: 70px;

        span {
          font-size: 0.9rem;
        }

        span:first-child {
          font-weight: bold;
          font-size: 1.2rem;
        }

      }
    }

    .text-part {
      text-align: left;
      padding: 40px 20px;

      h3 {
        text-transform: capitalize;
      }

      p {
        color: $gray1;
        font-size: 0.8rem;
        margin: 20px 0;

        span:first-child {
          margin-right: 10px;
        }

        i {
          margin-right: 5px;
        }

      }

      a {
        color: $black1;
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: bold;
      }
    }
  }

  #event-3 {
    display: flex;
    flex-direction: column;
    grid-area: i3;
    background: url(../../../assets/img/event-03.jpg) center/cover;

    .img-part {
      background: $white1;
      margin: 20px 20px 0 20px;

      @media screen and (max-width: 510px) {
        padding-top: 0;
      }
    }

    .text-part {
      background-color: $white1;
      margin: 0 20px 20px 20px;
      text-align: center;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @media screen and (max-width: 510px) {
        padding-top: 0;
      }
    }

  }
}